$def with (u, profile, postList, nodes, user)
$var page_title: $:u.nickname

$var jsfiles: /static/public/js/jquery.masonry.min.js /static/public/js/jquery.infinitescroll.min.js
<div id="member_profile_page">
    <div id="profile_header" style="background-image:url(/static/public/img/5.jpg)">
        <div id="profile_header_inner">
            $if u.avatarPath != 'http://img3.douban.com/icon/user_normal.jpg':
                $ src = u.avatarPath.replace('/u','/ul')
            $else:
                $ src = u.avatarPath
            <div id="profile_header_avatar" style="background-image:url($src)">
            </div>
            <h1 style="padding:20px 0;margin:0 auto;">$u.nickname</h1>
            <div class="desc">
                    $if profile.has_key('bio') and profile.bio != None and profile.bio.strip(' ') != '':
                        $ full = replace_breaks(replace_links(profile.bio.strip(' ')))
                        <!-- <a href="javascript:void(0)" title="查看简介" id="more_desc"><i class="icon icon-white icon-chevron-down"></i></a> -->
                    $else:
                        $ full = ""

                <div id="desc_full">
                    $:full
                </div>
            </div>
            <div class="city">
                <i class="icon icon-white icon-map-marker"></i> 
                $if profile.has_key('city') and profile.city != None:
                    $profile.city
                $else:
                    <span class="f12">地点未知</span>
            </div>
            <div class="sns_link share_sns_icon"><a href="http://www.douban.com/people/$u.username" title="豆瓣主页"><i></i></a></div>
        </div>
        $if user.is_logged:
            $if user.username == u.username:
                <div id="change_background_img">
                    <a href="javascript:void(0)" id="change_background_img_btn" class="btn btn-info">更改背景图片</a>
                    <div id="change_background_img_form">
                        <div class="node_empty_border">
                            <div class="node_empty">
                                <p>拖拽图片到这里</p>
                            </div>
                        </div>
                    </div>
                </div>
    </div>


    <div class="profile_page_content clearfix">
        <div id="rec_nav">
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <ul class="nav">
                        <li class="active"><a href="/member/$u.username">片段</a></li>
                        <li><a href="/member/$u.username/node#rec_nav">话题</a></li>
                    </ul>
                </div>
            </div>
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="/member/$u.username#rec_nav">发布的</a>
                </li>
                <li>
                    <a href="/member/$u.username/likes#rec_nav">喜欢的</a>
                </li>
            </ul>
        </div>

        <div class="profile_items">
        $if postList:
            <ul>
            $for i in xrange(len(postList)):
                <li item-data="$postList[i].id" class="post_list item_temp_$postList[i].postTemp
                $if not postList[i].postImage : 
                    item_no_img
                ">
                    <div class="post_link_wrap">
                        <a href="/post/$postList[i].id">
                            $if postList[i].postImage:
                                <span class="item_image_wrap">
                                    $if postList[i].postTemp == 1 or postList[i].postTemp == 2:
                                        $ img = postList[i].postImage + "_365.jpg"
                                    $elif postList[i].postTemp == 3 or postList[i].postTemp == 4 or postList[i].postTemp == 5:
                                        $ img = postList[i].postImage + "_366.jpg"
                                    <span class="item_image" style="background-image:url($img)"></span>
                                </span>
                            <div class="post_cont">
                                $if postList[i].postTemp == 4:
                                    <div class="vertical-align"><h1>$postList[i].postCaption</h1></div>
                                $else:
                                    <h1>$postList[i].postTitle</h1>
                                $if postList[i].postTemp != 3 and postList[i].postTemp != 4 and postList[i].postTemp != 5:
                                    <p class="snippet">
                                    $postList[i].postArticle[0:850].replace(r'<br/>', '')
                                    </p>
                                <div class="gradient"></div>
                            </div>
                        </a>
                    
                        <div class="meta">
                            <span class="post_author"><a target="_blank" title="$u.nickname" href="/member/$u.username">$u.nickname</a> 发布在 <a class="post_belong_node" title="$nodes[i].nodeName" href="/node/$nodes[i].id">$nodes[i].nodeName</a></span>
                        </div>

                    </div>
                </li>
            </ul>
        $else:
            <div class="node_empty_border">
                <div class="node_empty">
                    <h1>这里还是空的</h1>
                </div>
            </div>
        </div>
    </div>
    
    <div id="page-nav"><a href="/member/$u.username/page/2">查看更多</a></div>
</div>

<script>
    jQuery(function(){
        /*infinitescroll*/
        var container = jQuery('.profile_items ul');

        container.infinitescroll({
            navSelector  : '#page-nav',
            nextSelector : '#page-nav a',
            itemSelector : 'li',
            loadingText: '稍等，努力加载中...',
            donetext: '',
            bufferPx:500,
            loadingImg: '/static/public/img/loading.gif'//,
            // animate: true,
            // extraScrollPx: -10

        },
        // trigger Masonry as a callback
        function( newElements ) {
            var newElems = jQuery( newElements ).css({ opacity: 0 });
            newElems.imagesLoaded(function(){
                newElems.animate({ opacity: 1 });
                // container.masonry( 'appended', newElems, true ); 
            });
        });
    })
</script>
