$def with(postList, authors, nodes, user, rights, apply_log)
$var page_title : 首页 - 推荐片段

$var jsfiles: /static/public/js/fancybox/jquery.mousewheel-3.0.6.pack.js /static/public/js/fancybox/jquery.fancybox.pack.js?v=2.1.3  /static/public/js/rec.js

$var cssfiles: /static/public/js/fancybox/jquery.fancybox.css?v=2.1.3

<style>
$if rights > 1:
    #rec_nav .navbar-inner li:nth-last-child(2){margin-right: 50px}
#creatNewNode{position:relative;right: 0}
</style>

<div id="rec_home">
    <div id="rec_nav">
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <ul class="nav">
                    <li class="active"><a href="/">推荐片段</a></li>
                    <li><a href="/node">推荐话题</a></li>
                    $if int(rights) > 1:
                        <li class="onlyAdmin"><a href="/node/all">最新话题 - 仅管理员</a></li>
                        <li class="onlyAdmin"><a href="/post/latest">最新片段 - 仅管理员</a></li>
                </ul>
            </div>
        </div>
<!--         <ul class="nav nav-tabs">
            <li class="active">
                <a href="#">按推荐</a>
            </li>
        </ul> -->
    </div>
    <section class="node_page_content clearfix">
    $if postList:
        <div class="post_list_wrap clearfix">
            <ul>
            $for i in xrange(len(postList)):
                $if i == 0 :
                    <li class="post_list post_list_first item_temp_$postList[0].postTemp
                    $if not postList[0].postImage : 
                        item_no_img
                    ">
                        <div class="post_link_wrap">
                            <a href="/post/$postList[0].id">
                                $if postList[0].postImage:
                                    <span class="item_image_wrap">
                                        $if int(postList[0].postTemp) == 1 or postList[0].postTemp == 2:
                                            $ img = postList[0].postImage + "_750.jpg"
                                        $elif postList[0].postTemp == 3 or postList[0].postTemp == 4 or postList[0].postTemp == 5:
                                            $ img = postList[0].postImage + "_751.jpg"
                                        <span class="item_image" style="background-image:url($img)"></span>
                                    </span>
                                <div class="post_cont">
                                    $if postList[0].postTemp == 4:
                                        <div class="vertical-align"><h1>$postList[0].postCaption</h1></div>
                                    $else:
                                        <h1>$postList[0].postTitle</h1>
                                    $if postList[0].postTemp != 3 and postList[0].postTemp != 4 and postList[0].postTemp != 5:
                                        <p class="snippet">
                                        $postList[0].postArticle[0:850].replace(r'<br/>', '')
                                        </p>
                                    <div class="gradient"></div>
                                </div>
                            </a>
                        
                            <div class="meta">
                                <span class="magnitude">$postList[0].magnitude喜欢</span>
                                <span class="comment_num">$postList[0].comment_num评论</span>
                                <span class="post_author"><a title="$authors[0].nickname" href="/member/$authors[0].username">$authors[0].nickname</a> 发布在 <a class="post_belong_node" title="$nodes[0].nodeName" href="/node/$nodes[0].id">$nodes[0].nodeName</a></span>
                            </div>
                        </div>
                    </li>
                $else:
                    <li class="post_list item_temp_$postList[i].postTemp
                    $if not postList[i].postImage : 
                        item_no_img
                    ">
                        <div class="post_link_wrap">
                            <a href="/post/$postList[i].id">
                                $if postList[i].postImage:
                                    <span class="item_image_wrap">
                                        $if postList[i].postTemp == 1 or postList[i].postTemp == 2:
                                            $ img = postList[i].postImage + "_365.jpg"
                                        $elif postList[i].postTemp == 3 or postList[i].postTemp == 4 or postList[i].postTemp == 5:
                                            $ img = postList[i].postImage + "_366.jpg"
                                        <span class="item_image" style="background-image:url($img)"></span>
                                    </span>
                                <div class="post_cont">
                                    $if postList[i].postTemp == 4:
                                        <div class="vertical-align"><h1>$postList[i].postCaption</h1></div>
                                    $else:
                                        <h1>$postList[i].postTitle</h1>
                                    $if postList[i].postTemp != 3 and postList[i].postTemp != 4 and postList[i].postTemp != 5:
                                        <p class="snippet">
                                        $postList[i].postArticle[0:850].replace(r'<br/>', '')
                                        </p>
                                    <div class="gradient"></div>
                                </div>
                            </a>
                        
                            <div class="meta">
                                <span class="magnitude">$postList[i].magnitude喜欢</span>
                                <span class="comment_num">$postList[i].comment_num评论</span>
                                <span class="post_author"><a title="$authors[i].nickname" href="/member/$authors[i].username">$authors[i].nickname</a> 发布在 <a class="post_belong_node" title="$nodes[i].nodeName" href="/node/$nodes[i].id">$nodes[i].nodeName</a></span>

                            </div>
                        </div>
                    </li>
            </ul>
        </div>
    $else:
        <div class="node_empty_border">
            <div class="node_empty">
                <h1>这里还是空的</h1>
            </div>
        </div>
    </section>

    <footer id="home_footer" class="clearfix">
        <div class="pull-right">
            <a href="/about">关于</a>
            <a href="/policy">免责声明</a>
            <a href="/privacy">隐私声明</a>
            <a href="/guideline">使用须知</a>
            <a href="/blog">博客</a>
            $if user.is_logged:
                $if rights > 1:
                    <a href="/update" style="color:#c00">更新</a>
                    <a href="/admin" style="color:#c00">后台</a>
        </div>
        <div class="pull-left corpright">
            2013 Copyright &copy;  yyu.me and power by <a href="https://github.com/naoyeye/rhinoceros">rhinoceros</a>
        </div>
    </footer>
</div>
$if user.is_logged:
    <!--申请表单 s -->
    <div id="apply_box">
        <div id="apply_box_inner">
            <h4>申请开通权限</h4>
            <form autocomplete='off' id="apply_box_form" action="/account/apply_for_permission">
                <div id="apply_box_avatar"><img src="$user.avatarPath" /></div>
                <div class="controls">
                    <label class="t-l f12">填写你的邮箱，用来接收申请结果</label>
                    <input type="text" class="span4" placeholder="你的邮箱地址，用来接收申请结果" name="email" datatype="e" errormsg=" " nullmsg=" " value="$user.email"/><span class="Validform_checktip"></span>
                </div>
                <div class="controls">
                    <label class="t-l f12">申请理由 10-300字</label>
                    <textarea name="reason" class="span4" datatype="*10-300" placeholder="申请理由 10-300字" errormsg=" " nullmsg=" "></textarea><span class="Validform_checktip"></span>
                </div>
                <input type="hidden" name="douban_id" value="$user.douban_id"/>
                <div class="form-actions">
                    <button type="submit" class="btn btn-success">好了，提交</button>
                </div>
            </form>
        </div>
    </div>
    <!--申请表单 o -->
<script>
jQuery(function(){
    jQuery('body').css({
        'background':'#EDEDEB'
    })
    jQuery('#main').css({
        'height': '100%'
    })
})
</script>
